@font-face {
    font-family: 'HYWenHei';
    src: url(../../zh-cn.ttf);
}

body {
    background-color: #282c34;
    color: white;
    text-align: center;
    padding: 40px;
    font-size: 24px;
    font-family: 'HYWenHei';
}

button {
    background-color: darkgreen;
    border-radius: 20px;
    border-color: antiquewhite;
    padding: 10px 5px;
    margin: 4px;
    width: 100px;
    font-family: 'HYWenHei';
    font-size: 20px;
    color: white;
}

.count {
    padding: 20px;
}

.reset {
    background-color: darkred;
    width: 200px;
}